@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  font-family: $font-family-primary;
  font-weight: $font-weight-normal;
  color: $color-primary;
  line-height: $line-height-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
}

.text-heading {
  color: $color-heading;
  font-weight: $font-weight-bold;
  font-size: $font-size-head;
  line-height: $line-height-tight;

  @include responsive-font(
    $font-size-head,
    calc($font-size-head * $hero-font-scale-tablet)
  );

  @media (max-width: $breakpoint-sm) {
    font-size: calc($font-size-head * $hero-font-scale-mobile);
  }
}

.text-heading--automation {
  color: $color-white;
  font-weight: $font-weight-bold;
  font-size: $font-size-head;
  line-height: $line-height-tight;

  @media (max-width: $breakpoint-lg) {
    font-size: calc($font-size-head * $automation-font-scale-tablet);
  }

  @media (max-width: $breakpoint-md) {
    font-size: calc($font-size-head * $automation-font-scale-mobile);
  }

  @media (max-width: $breakpoint-sm) {
    font-size: calc($font-size-head * $automation-font-scale-small);
  }
}

.text-subtitle {
  font-family: $font-family-primary;
  font-size: $font-size-subtitle;
  font-weight: $font-weight-normal;
  color: $color-secondary;
  line-height: $line-height-normal;
}

.text-body {
  color: $color-primary;
  font-weight: $font-weight-normal;
}

.text-muted {
  color: $color-text-light;
}
