@use "../abstracts/variables" as *;

.icon-container {
  position: absolute;
  width: $icon-container-width;
  height: $icon-container-height;
  border-radius: $icon-container-radius;
  background: linear-gradient(
    142.45deg,
    rgba(255, 255, 255, 0.7) -4.87%,
    rgba(255, 255, 255, 0) 160.41%
  );
  box-shadow: 0px 10px 20px 0px rgba(0, 42, 179, 0.1),
    1px 1px 0px 0px rgba(255, 255, 255, 0.15) inset;
  backdrop-filter: blur($icon-container-blur);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  // LEFT SIDE ICONS
  &--position-1 {
    top: 188px;
    left: 482px;
  }

  &--position-2 {
    top: 325px;
    left: 346px;
  }

  &--position-3 {
    top: 461px;
    left: 209px;
  }

  &--position-4 {
    top: 596px;
    left: 349px;
  }

  &--position-10 {
    top: 461px;
    left: 482px;
  }

  // RIGHT SIDE ICONS
  &--position-5 {
    top: 461px;
    left: 1588px;
  }

  &--position-6 {
    top: 597px;
    left: 1588px;
  }

  &--position-7 {
    top: 461px;
    left: 1452px;
  }

  &--position-8 {
    top: 189px;
    left: 1452px;
  }

  &--position-9 {
    top: 325px;
    left: 1316px;
  }

  img {
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;
  }

  @media (max-width: $breakpoint-lg) {
    &--position-5,
    &--position-6,
    &--position-7,
    &--position-8,
    &--position-9 {
      display: none;
    }
  }

  @media (max-width: $breakpoint-md) {
    &--position-2,
    &--position-4,
    &--position-10 {
      display: none;
    }

    &--position-1 {
      top: 15vh;
      left: 2vw;
    }

    &--position-3 {
      top: 60vh;
      left: 2vw;
    }
  }

  @media (max-width: $breakpoint-sm) {
    &--position-1 {
      left: 1vw;
    }

    &--position-3 {
      left: 1vw;
    }
  }
}
